/node_modules
.vscode/
test/
*.0x/
lib/
python_spheres.json
python_sphere_logic.json
python_entrance_sphere_logic.json
js_spheres.json
js_sphere_logic.json
js_entrance_sphere_logic.json
python_plando.json
*.tgz
.DS_Store